<ul class="list">
  <li class="list__item">Home</li>
  <li class="list__item">Spaces</li>
  <li class="list__item">Community</li>
  <li class="list__item">See Our Spaces</li>
</ul>

<ul class="list list--inline">
  <li class="list__item">Home</li>
  <li class="list__item">Spaces</li>
  <li class="list__item">Community</li>
  <li class="list__item">See Our Spaces</li>
</ul>

<ul class="list list--tick">
  <li class="list__item">Home</li>
  <li class="list__item">Spaces</li>
  <li class="list__item">Community</li>
  <li class="list__item">See Our Spaces</li>
</ul>
