<!-- card -->
<div class="card">
  <div class="card__image">
    <img src="images/guy-at-table.jpg" alt="" />
  </div>
  <div class="card__text">
    <h2 calss="card__header">Open Plan Spaces</h2>
    <ul class="list list--tick card__list">
      <li class="list__item">Open Plan Environment</li>
      <li class="list__item">Modern Facilities</li>
      <li class="list__item">Meeting Spaces</li>
      <li class="list__item">On Prem Coffee Shop</li>
      <li class="list__item">Best Equipment</li>
    </ul>
  </div>
  <!-- detailss section -->
  <div class="card__dets">
    <div class="det">
      <span class="value">7</span>
      <span class="type">days</span>
    </div>
    <div class="det">
      <span class="value">$400</span>
      <span class="type">month</span>
    </div>
    <div class="det">
      <span class="value">12</span>
      <span class="type">spaces</span>
    </div>
  </div>
</div>
<!-- end card -->
